<div class= "container-fluid">	
	<div class = "new-screen">
		<div class="row">
			<div class="col-md-12">
				<div class = "title">
				<h1>I am the man</h1>
				</div>
			</div>
		</div>
	</div>
</div>


<div class = "new-screen">  
	<h1>About</h1>
</div>

<div class = "new-screen">
	<h1>Portfolio</h1>
</div>

<div class = "new-screen">
	<h1>Tech News</h1>
</div>

<div class = "new-screen">
  <h1>Contact</h1>
  <div class= "map">
  	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56804.60009588683!2d-111.78005498569094!3d40.36279993274853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f1				3.1!3m3!1m2!1s0x874d841f419bc7e7%3A0xa6bd1ff2b4bd2c1e!2sPleasant+Grove%2C+UT!5e0!3m2!1sen!2sus!4v1516136160775" width="600" height="450" frameborder="			   0" style="border:0" allowfullscreen>
  	</iframe>
  </div>
</div>